<ol>Runners:

<% @ordered_runners.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
  <%= "<a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}</a> #{runner.player_name}".html_safe %>
  </li>
<% end %>

</ol>

<br />

<ol>Chasers:

<% @ordered_chasers.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
<<<<<<< /home/jlog/journey-log/checkpoint_monitor/app/views/runners/index.erb
  <%= "<a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}</a> #{runner.player_name}: ".html_safe 
%>
=======
  <%= "<a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}</a> #{runner.player_name}: ".html_safe %>
>>>>>>> /tmp/index.erb~other.KmiPXI
  <%= "tagged #{runner.tags.size} runners" %>
  </li>
<% end %>

</ol>

